<div id="wrap-form">
  <h2>Ajouter une tâche</h2>
  <form>
    <input
      type="text"
      placeholder="Ajouter une tâche"
      autofocus
      aria-label="Taper la tâche à effectuer"
      maxlength="20"
      id="todo-text"
      [formControl]="addTodoForm"
      [(ngModel)]="todoText"
      (keydown.enter)="sendIt($event)"
    />
    <span class="required-mark">*</span>
    <p class="requiredField">* Champ requis</p>
    <textarea
      type="text"
      aria-label="détail de la tâche"
      placeholder="Ajouter une description (facultatif)"
      id="todo-description"
      [formControl]="addDescriptionForm"
    ></textarea>
    <br />
    <button type="button" id="submit" (click)="addTodo(todoText)" [disabled]="!todoText">
      Ajouter la tâche
    </button>
  </form>
</div>

<div id="list">
  <h2>Liste des tâches</h2>
  <p class="noTask" *ngIf="tasks.length == 0">Aucune tâche dans la liste.</p>
  <div *ngIf="tasks.length > 0">
    <p class="numberOfTasks">Tâche(s) terminées : {{ getNumberOfChecked() }}/{{ tasks.length }}.</p>
    <ul id="todoList">
      <li *ngFor="let task of tasks" class="todo-item" [ngClass]="{ done: task.checked }">
        <input type="checkbox" id="{{ task.id }}" />
        <label for="{{ task.id }}" class="tick" (click)="isChecked(task)"></label>
        <span>{{ task.text }}</span>
        <button class="detail-button" (click)="displayDetail(task)">🔍</button>
        <button class="delete-button" (click)="deleteTask(task)">✕</button>
      </li>
    </ul>
  </div>
  <div *ngIf="display">
    <!-- onClick = event personnalisé qui appelle la fonction closeDetail -->
    <app-task-description
      [task]="selectedTask"
      (onClick)="closeDetail($event)"
    ></app-task-description>
  </div>
</div>
