@import "../../style/utils/variables";

main {
  background-color: $notebook;
  border-radius: 5px;
  max-width: 380px;
  height: 82vh;
  min-height: 520px;
  max-height: 800px;
  margin: auto;
  padding: 5% 5% 2% 5%;
  position: relative;
  top: 40px;
  #content {
    position: relative;
    max-width: 350px;
    margin: auto;
    border-radius: 3px;
    background-color: $page;
    height: 80vh;
    min-height: 480px;
    max-height: 770px;
    &:before {
      content: "";
      background-color: $page;
      border-top: 1px dashed black;
      width: 100%;
      max-width: 380px;
      height: 32px;
      position: absolute;
      top: -51px;
    }
    h1 {
      position: absolute;
      top: 20px;
      -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
      transform: rotate(-25deg);
    }
    #todos {
      overflow: hidden;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  #copyright {
    width: 100%;
    text-align: center;
    &-text {
      display: none;
    }
  }
}

@media screen and (min-width: 700px) {
  main {
    padding: 15px 15px 0 15px;
    top: 70px;
  }
  footer {
    #copyright {
      &-text {
        display: inline;
        .copyright {
          padding-right: 2px;
          position: relative;
          bottom: 2px;
          font-size: 0.8em;
        }
      }
      &-logo {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  main {
    height: 60vh;
    max-width: 425px;
    #content {
      height: 58vh;
    }
  }
  footer {
    position: relative;
    top: 200px;
  }
}
@media screen and (min-width: 1920px) {
  main {
    height: 65vh;
    max-width: 425px;
    #content {
      height: 62vh;
    }
  }
}

@import "../../style/utils/variables";

#detailedTask {
  position: fixed;
  top: 40vh;
  left: 20vw;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  background-color: $postit;
  -webkit-box-shadow: 6px 4px 9px $notebook;
  box-shadow: 6px 4px 9px $notebook;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  .delete-postit {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  &--text,
  &--description {
    margin: 0;
  }
  &--text {
    width: 120px;
    font-size: 1.7rem;
    text-align: center;
    overflow-y: scroll;
    max-height: 60px;
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &--description {
    margin: auto;
    width: 198px;
    overflow-y: scroll;
    max-height: 145px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (min-width: 700px) {
  #detailedTask {
    left: 40vw;
  }
}

@media screen and (min-width: 1400px) {
  #detailedTask {
    left: 70vw;
    top: 20vh;
  }
}
